#about {
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 80px;
}
.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px)); */
    margin-top: 30px;
    /* justify-content: center; */
}
.skill {
    background: #00000000;
    border: none;
    box-shadow: none;
    /* padding: 10px; */
    width: 100%;
}
.skillCont {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillName {
    margin-top: 7px;
}
.bigContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}
.cont {
    background-color: rgb(235, 235, 235);
    width: 70%;
    display: flex;
    padding-top: 20px;
    justify-self: center;
}
.description {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    width: 50%;
    color: rgb(70, 70, 70);
}
h2 {
    font-size: 24px;
    font-weight: 900;
    color: rgb(70, 70, 70);
}
.p1 {
    font-family: RobotoLightItalic;
    font-size: 20px;
    font-weight: 600;

}
.p2 {
    font-family: RobotoLight;
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
    
}
.buton:visited {
    text-decoration: none;
    color: rgb(70, 70, 70);
}
.buton {
    color: rgb(70, 70, 70);
    height: 60px;
    width: 300px;
    border-radius: 4px;
    border-color: rgb(70, 70, 70);
    font-size: 1.1rem;
    box-shadow: inset 0 0 0 0 rgb(70, 70, 70);
    transition: 0.3s ease-out;
    outline: none;
    text-decoration: none;
}
.butonContainer {
    margin-top: 20px;
}
.buton:hover {
    box-shadow: inset 300px 0 0 0 rgb(70, 70, 70);
    color: white;
    cursor: pointer;
}

.contSkills {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}
.skills-bar {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
                0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}
.skills-bar .bar {
    margin: 20px 0;
}
.skills-bar .bar:first-child {
    margin-top: 0px;
}
.skills-bar .bar .info {
    margin-bottom: 5px;
}
.skills-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}
.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                        0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #1093f1;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-line.html span {
    width: 90%;
}
.progress-line.css span {
    width: 60%;
}
.progress-line.js span {
    width: 70%;
}
.progress-line.react span {
    width: 80%;
}
.progress-line.node span {
    width: 50%;
}
.bar .progress-line span::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    right: 0;
    top: -10px;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100% {
        opacity: 1;
    }
}
.progress-line.html span::after {
    content: '90%';
}
.progress-line.css span::after {
    content: '60%';
}
.progress-line.js span::after {
    content: '70%';
}
.progress-line.react span::after {
    content: '80%';
}
.progress-line.node span::after {
    content: '50%';
}

@media (max-width:800px) {
    .cont {
        flex-direction: column;
    }
    .contSkills {
        padding-top: 60px;
        width: 100%;
    }
     .description {
        width: 100%;
    }
    .skillsContainer{
        justify-content: center;
    }
    
}
@media (max-width:1200px) {
    .skillCont{
        width: 50px;
    }
    .cont {
        width: 80%;
    }
    .skillsContainer{
        gap: 40px;
    }
    .buton{
        width: 200px;
    }
}
@media (max-width: 650px) {
    .cont {
        width: 90%;
    }
    .skillCont{
        width: 80px;
    }
    .skillsContainer{
        gap: 20px;
    }
    
}
@media (max-width:500px) {
    .cont{
        width: 100%;
    }
    .skillCont{
        width: 50px;
    }
    .skillName{
        font-size: 14px;
    }
    .skillsContainer {
        gap: 40px;
    }
    .buton{
        width: 100%;
    }
    /* .butonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}