@font-face {
  font-family: RobotoRegular;
  font-display: swap;
  src: url(/public/img/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: RobotoLight;
  src: url(/public/img/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: RobotoLightItalic;
  src: url(/public/img/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: RobotoBoldItalic;
  src: url(/public/img/Roboto-Bold.ttf) format('truetype');
}
* {
  font-family: RobotoRegular, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}